{
  "extends": "airbnb",
  "parser": "babel-eslint",

  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },

  "rules": {
    "id-length": 0,
    "indent": ["error", 2, {"SwitchCase": 1}],
    "no-console": 0,
    "func-names": 0,
    "max-len": [2, 100, 2, {"ignoreComments":true, "ignoreUrls": true}]
  }
}
